API_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= 7c4c1c50-3230-45bf-9eae-c9b2e401c768
MONGODB_URI=mongodb://mongo:27017/api
CYPHER_KEY=kPq7zR4XwU8JiGf2H6tLrE9oB1cYvD3m
R_TOKEN_IV=8tFs8QaeqZ5FHMUm

EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=iotaap <noreply@iotaap.io>
EMAIL_IGNORE_TLS=true
EMAIL_SECURE=false
EMAIL_REQUIRE_TLS=false

IOTAAP_NETWORK=load_balancer
IOTAAPSYS_TOPIC=iotaapsys
IOTAAPSYS_TOPIC_PASSWORD=Kr3StTr4l16KRFuiMsfd66RWwNTkeZMz
IOTAAPSYS_TOPIC_PORT=1883

IOTAAP_SINGLE_REGISTRATION=true

INFLUX_URL=http://influx:8086
DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=root
DOCKER_INFLUXDB_INIT_PASSWORD=password
DOCKER_INFLUXDB_INIT_ORG=iotaap
DOCKER_INFLUXDB_INIT_BUCKET=iotaap-storage
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=Kr3StTr4l16KRFuiMsfd66RWwNTkeZMz
DOCKER_INFLUXDB_INIT_RETENTION=180d

REDIS_URL=redis
BACKEND_URL=http://iotaap_manager:3000

IOTAAP_STORAGE_URL=http://storage_service:3001
IOTAAP_DEVICE_STATUS_KEY=Kr3StTr4l16KRFuiMsfd66RWwNTkeZMz

IOTAAP_DEVICE_CERTIFICATE_VALIDITY=10
IOTAAP_DEVICE_AP_PASSWORD=wjp7b0gq

IOTAAP_OTA_SERVICE_URL_EXTERNAL=http://localhost:3080
IOTAAP_OTA_SERVICE_URL_INTERNAL=http://ota_service:3080